<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mdoq\Connector\Model\Config\Backend\UrlKeyInterface" type="Mdoq\Connector\Model\Config\Backend\UrlKey" />
    <preference for="Mdoq\Connector\Model\Config\Backend\AuthKeyInterface" type="Mdoq\Connector\Model\Config\Backend\AuthKey" />
    
    <!-- bypass product image lookup -->
    <preference for="Magento\Catalog\Model\Product\Image" type="Mdoq\Connector\MagentoCatalog\Model\Product\Image" />
</config>
