<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mdoq_connector" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>MDOQ Connector</label>
            <tab>service</tab>
            <resource>Mdoq_Connector::config_connector</resource>
            <group id="connector" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Connector Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable MDOQ Connector</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_access_enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Access from Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Warning: This will allow connections to the MDOQ Connector at 'https://baseurl.com/adminpath/backendconnector/connector/index'. Please use temporarily and make sure suitable IP / access blocking is in place.</comment>
                </field>
                <field id="url_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Endpoint</label>
                    <backend_model>Mdoq\Connector\Model\Config\Backend\UrlKeyInterface</backend_model>
                    <frontend_model>Mdoq\Connector\Block\System\Config\Form\Field\UrlKey</frontend_model>
                </field>
                <field id="auth_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auth Key</label>
                    <backend_model>Mdoq\Connector\Model\Config\Backend\AuthKeyInterface</backend_model>
                    <frontend_model>Mdoq\Connector\Block\System\Config\Form\Field\AuthKey</frontend_model>
                </field>
                <field id="php_bin" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Path To Php</label>
                    <comment>Should only be used in the MDOQ fails to auto-magically find PHP</comment>
                </field>
            </group>
        </section>
    </system>
</config>
